<?xml version="1.0" encoding="utf-8"?>

<!--
  Copyright 2022-2025 Chartboost, Inc.
  
  Use of this source code is governed by an MIT-style
  license that can be found in the LICENSE file.
-->

<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <application>
        <activity android:name="com.amazon.device.ads.DTBInterstitialActivity" />
        <activity android:name="com.amazon.device.ads.DTBAdActivity" />
    </application>
</manifest>
